<!-- This is for specific place information sected by user -->

<!-- This will include the header nav tab from partials -->
{{>header}}

<div class="placesshow">
    <div class="placesshow-header">
        <div> <span class="placesshow-text text-uppercase">{{places.name}}</span><span> {{places.state}}</span></div>
    </div>
    <!-- Places descripton -->
    <div class="placesshow-desc">{{places.description}}</div>

    <div class="placesshowphotos-header">Photos from this hike</div>

    <div>
        <!-- It will display all the photos added to that particur place -->
        {{#each places.photos}}
            <div class="col-md-3 col-sm-12 col-xs-12 z-depth-4 hoverable photo-center">
                <div class="center">
                    <h4 class="col-md-12 col-sm-12 text-uppercase" >{{this.name}}</h4>
                </div>
                <!-- Shows the image based on the specifed url -->
                <div>
                    <img class="col-md-12 col-sm-12 col-xs-12" src="{{this.photo_url}}" alt="Photos from this hike">
                </div>
            </div>
        {{/each}}
    </div>

    <div class="col-md-12">
        <span class="gps-header">GPS Co-ordinates:</span><span class="gps-co">  {{places.latitude}} &{{places.longitude}}</span>
        <!-- <div>Google</div> -->
        <div id="map" style="width:100%;height:400px;"></div>
    </div>

    <div class="col-md-12">
    <!-- <button type="submit">Back</button> -->
        <form action="/{{user}}">
            <input type="submit" value="Back" class="btn btn-default col-md-3 add-button">
        </form>

        <form action="/{{user}}/{{places.id}}/photos/new">
            <input type="submit" value="Add more Photos" class="btn btn-default col-md-3 add-button">
        </form>

        <form action="/{{user}}/{{places.id}}/photos/edit">
            <input type="Submit" value="Delete Photos" class="btn btn-danger col-md-3 add-button">
        </form>
    </div>
</div>

<script>
    // This will display the google maps
    function myMap() {
        // Sets the lat and longitude based onthe values specified in places object
        var myCenter = new google.maps.LatLng({{places.latitude}},{{places.longitude}});
        var mapCanvas = document.getElementById("map");
        // disabled the user drag option and included hibred map insted of default one
        var mapOptions = {center: myCenter, zoom: 13,
        mapTypeId:google.maps.MapTypeId.HYBRID, draggable: false};

        var map = new google.maps.Map(mapCanvas, mapOptions);
        var marker = new google.maps.Marker({position:myCenter});
        marker.setMap(map);
        google.maps.event.addListener(marker,'click',function() {
        // console.log({{places.name}});
        var infowindow = new google.maps.InfoWindow({
            // Displaces the place name window when you click on the pin
            content: "{{places.name}}"
        });
            infowindow.open(map,marker);
        });
    }
</script>

<!-- Assign the google Api's unique key  -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbFzX-rQuiHEI1DbnZJQNQ1Wfud9Mpyiw&callback=myMap"></script>

