{{>header}}

<div>{{places.name}}</div>
<div>{{places.longitude}}</div>
<div>{{places.latitude}}</div>
<div>{{places.state}}</div>
<div>{{places.country}}</div>
<div>{{places.description}}</div>
<div></div>
{{#each places.photos}}

        <ul>
            <li>{{this.photo_url}}</li>

            <li><img src="{{this.photo_url}}" alt="Photos"></li>
            <li>{{this.name}}</li>


        </ul>
{{/each}}
<!-- <button type="submit">Back</button> -->
<form action="/{{user}}">
<input type="submit" value="Back">

</form>
<form action="/{{user}}/{{places.id}}/photos/new">
    <input type="submit" value="Add more Photos">
</form>

<form action="/{{user}}/{{places.id}}/photos/edit">
                <input type="Submit" value="Delete Photos">
            </form>
 <div id="map" style="width:100%;height:400px;"></div>

<script>
function myMap() {

  var myCenter = new google.maps.LatLng({{places.latitude}},{{places.longitude}});
  var mapCanvas = document.getElementById("map");
  var mapOptions = {center: myCenter, zoom: 8,
  mapTypeId:google.maps.MapTypeId.HYBRID};
  var map = new google.maps.Map(mapCanvas, mapOptions);
  var marker = new google.maps.Marker({position:myCenter});
  marker.setMap(map);
  google.maps.event.addListener(marker,'click',function() {
    // console.log({{places.name}});
    var infowindow = new google.maps.InfoWindow({
      content: "{{places.name}}"
    });
  infowindow.open(map,marker);
  });
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbFzX-rQuiHEI1DbnZJQNQ1Wfud9Mpyiw&callback=myMap"></script>
