{{>header}}

<ul>
    {{#each user.places}}
    <li>
    <form action="/{{../user.id}}/places/{{this.id}}?_method=Delete" method="POST">
        Hiking Place: {{this.name}}<button type="submit" class="btn btn-danger" aria-label="Left Align">
  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
</button>
    </form>
    <form action="/{{../user.id}}/places/{{this.id}}/edit"><input type="submit" value="EDIT">
    </form>

    </li>
    <li>log & lat: {{this.longitude}},  {{this.latitude}}</li>
    <li>Description: {{this.description}}</li>
    <li>url: {{this.place_url}}
    <img src="http://i1320.photobucket.com/albums/u528/lanchanagupta/LAN_0569_zpsceefnhdd.jpg"></li>
        {{#each this.photos}}

        <ul>
            <li>{{this.photo_url}}</li>
            <li><img src="{{this.photo_url}}" alt="Photos"></li>
            <li>{{this.name}}</li>


        </ul>
        {{/each}}
    <form action="/{{../user.id}}/{{this.id}}/photos/new">
    <input type="Submit" value="Add Photos">
</form>
<form action="/{{../user.id}}/{{this.id}}/photos/edit">
    <input type="Submit" value="Delete Photos">
</form>



    {{/each}}
</ul>


{{#each user.places}}
    <h1>{{this.name}}</h1>
    <img src="{{this.place_url}}" alt="place main photo">
{{/each}}




<form action="/{{user.id}}/places/new">
    <input type="Submit" value="Add New">
</form>
