<h1>Loged in</h1>

<ul>
    {{#each user.places}}
    <li>{{this.name}}</li>
    <li>{{../user.id}}</li>
    <li>{{this.id}}</li>
    <form action="/{{../user.id}}/{{this.id}}/photos/new">
    <input type="Submit" value="Add Photos">
</form>
    {{/each}}
</ul>

<form action="/{{user.id}}/places/new">
    <input type="Submit" value="Add New">
</form>
